html,body,#app,.main{
	height: 100%;
}
.g-site{
	position: relative;
	overflow: auto;
}
.g-site .container_top{
	margin-top: 46px;
	overflow-y: scroll;
}
body{
	padding: 0;
	margin: 0;
}
.lf{
	float: left;
}
.rf{
	float: right;
}
input::-webkit-input-placeholder{
	color: #999;
}
/* 头部信息 */
#header_box .g-header.vux-header .vux-header-title{
	color: #333;
	font-weight: bold;
}

/* 注册页面 */
.g-group-top .weui-cells{
	margin-top: 30px;
}